@import url("https://unpkg.com/mvp.css");

:root {
  --width-content: 1500px;
  --width-card: 200px;
}

img {
  display: block;
  width: 500px;
  height: 450px;
}

.cols {
  margin: 0 auto;
  width: 85%;
  max-width: 1600px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.col {
  display: block;
  flex: 1 1 200px;
}
